* {
	padding: 0;
	margin: 0;
	border: 0 none transparent;
	color: #000000;
	font-size: 20px;
	font-family: 'Didact Gothic', sans-serif;
}
body {
	background-color: #ffffff;
}
h1 {
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
}
ul {
	list-style: none;
}
ol {
	margin-left: 2em;
}
form {
	text-align: center;
	padding-bottom: 4em;
	& input[type=text] {
		display: block;
		width: 80%;
		margin: 0 auto 4px;
		font-size: 35px;
		border: 2px solid #000000;
		padding: 0.1em 0.5em;
	}
	& input[type=submit] {
		background-color: #9cc424;
		color: #ffffff;
		font-size: 35px;
		font-weight: bold;
		text-transform: uppercase;
		padding: 0.1em 0.5em;
		cursor: pointer;
	}
	&.loginForm {
		padding-bottom: 0.5em;
	}
	&.unlockForm input[type=submit] {
		font-size: 20px;
	}
}
#content {
	padding: 0.5em;
	& .header {
		width: 100%;
		text-align: center;
		padding-top: 0.5em;
		& span {
			font-size: 13px;
			font-weight: bold;
		}
	}
	& .footer {
		position: fixed;
		bottom: 0px;
		left: 0px;
		& table {
			width: 100%;
			background-color: #ffffff;
			border-spacing: 0.1em;
			& .button {
				position: relative;
				cursor: pointer;
				width: 33.33333%;
				height: 3em;
				background-color: #a5bfd4;
				text-align: center;
				vertical-align: bottom;
				padding: 0 0.1em 0.1em;
				&>span {
					color: #ffffff;
					font-weight: bold;
					text-transform: uppercase;
					& span {
						color: #ffffff;
					}
					&.marker {
						display: none;
						position: absolute;
						top: -0.5em;
						left: 1em;
					}
				}
				&.active {
					background-color: #1d5f94;
					& .marker {
						display: block;
					}
				}
			}
		}
	}
	& .tabs {
		&>div {
			display: none;
			& ul{
				padding-bottom: 4em;
			}
			&.active {
				display: block;
			}
		}
		& .playerlist {
			position: relative;
			&>div {
				position: relative;
				width: 80%;
				height: 400px;
				overflow: hidden;
				margin: 0 auto;
			}
			& .pager {
				position: absolute;
				top: 50%;
				cursor: pointer;
				font-size: 32px;
				&.prev {
					left: 5%;
				}
				&.next {
					right: 5%;
				}
			}
			& .players {
				position: absolute;
				top: 0;
				margin-left: 50%;
				.slide;
				&>li {
					position: absolute;
					top: 0;
					& img {
						width: 100%;
					}
				}
			}
		}
		& .toplist {
			&>li {
				&>span {
					display: inline-block;
					width: 10%;
					text-align: center;
					font-size: 32px;
				}
				&:first-child {
					font-size: 32px;
					font-weight: bold;
					&>span {
						font-size: 64px;
						font-weight: bold;
						color: #ffa31c;
					}
				}
			}
		}
	}
	& .message {
		margin-top: 1em;
		text-align: center;
		background-color: #ffd479;
		&>span {
			display: block;
			padding: 0.1em 0.5em;
			&.small {
				font-size: 13px;
			}
		}
		&.fadeout {
			height: 2em;
			.scroll-up;
			&.hide {
				height: 0;
				overflow: hidden;
			}
		}
	}
	& p {
		padding: 1em 0;
	}
}

.scroll-up (@property: height, @duration: 0.5s, @timing-function: ease, @delay: 5s) {
	transition: @arguments;
	-moz-transition: @arguments;
	-webkit-transition: @arguments;
	-o-transition: @arguments;
}

.slide (@property: left, @duration: 0.5s, @timing-function: ease, @delay: 0s) {
	transition: @arguments;
	-moz-transition: @arguments;
	-webkit-transition: @arguments;
	-o-transition: @arguments;
}

@media all and (min-width: 641px) {
	#content {
		width: 641px;
		margin: 0px auto;
		& .footer {
			position: relative;
			& .button {
				&:hover {
					background-color: darken(#a5bfd4, 5%);  
				}
			}
		}
		& .tabs {
			&>div {
				& ul {
					padding-bottom: 0.5em;
				}
			}
		}
		& form {
			padding-bottom: 0.5em;
			& input[type=submit]:hover {
				background-color: darken(#9cc424, 5%);
			}
		}
	}
}
